* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAVBAR */
nav {
    border-radius: 8px;
}

/* SIDEBAR */
.side {
    background-color: #666666;
    height: 70vh;
    width: 25vw;
    margin-top: 2rem;
    text-align: center;
}
.song-btn {
    margin: 10px;
    padding: 10px 40px;
}

/* ORANGE BUTTON CLASS */
.orange-btn {
    background-color: #FF9900;
}

/* HOMEPAGE */
.home {
    background-color: #eeeeee;
    height: 100vh;
}
.text-box {
    padding: 10rem 0 0  3rem;
}


/* MEDIA QUERY */
/* @media (max-width: 1445px) {
    .side {
        height: 85vh;
        width: 30vw;
        margin-top: 2.5rem;
    }
    .song-btn {
        margin: 20px;
        padding: 35px 70px;
    }
    .padding {
        padding: 20px 40px;
    }
    .text-box {
        padding: 10rem 0 0 3rem;
    }
    .text-box h1 {
        font-size: 3.5rem;
    }
    .text-box p {
        font-size: 1.7rem;
        padding: 1rem 0;
    }
} */

@media(max-width:1128px) {
    /* SIDEBAR */
    .side {
        height: 85vh;
        width: 35vw;
        margin-top: 1.5rem;
    }
    .song-btn {
        margin: 20px;
        padding: 15px 40px;
    }
    /* HOMEPAGE */
    .text-box {
        padding: 9rem 0 0 3rem;
    }
    .text-box h1 {
        font-size: 2.5rem;
    }
    .text-box p {
        font-size: 1.2rem;
        padding:  0;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
     /* SIDEBAR */
    .side {
        width: 35vw;
        margin-top: 1rem;
    }
    .song-btn {
        margin: 12px;
        padding:  10px 15px;
    }
    /* HOMEPAGE */
    .text-box h1 {
        font-size: 2rem;
    }
    .text-box p {
        font-size: 1rem;
        padding:  0;
    } 
    .padding {
        padding: 9px 22px;
    }
 }
 @media (min-width: 425px) and (max-width: 767px) { 
    /* SIDEBAR */
   .side {
    width: 100%;
    margin-top: 0rem;
}
.song-btn {
    margin: 10px;
    padding: 13px 50px;
}
.padding {
    padding: 10px 20px;
}
/* HOME */
.home .d-flex{
    flex-direction: column;
}
.text-box {
    padding: 3rem 0 ;
    text-align: center;
}
.text-box h1 {
    font-size: 1.7rem;
}
.text-box p {
    font-size: 1rem;
    padding: 1rem 0;
}
 }
 @media (max-width: 424px) { 
    /* SIDEBAR */
       .side {
        width: 100%;
        margin-top: 0rem;
    }
    .song-btn {
        margin: 10px;
        padding: 13px 50px;
    }
    /* PADDING CLASS FOR BUTTON */
    .padding {
        padding: 10px 20px;
    }

    /* HOME */
    .home .d-flex{
        flex-direction: column;
       }
    .text-box {
        padding: 3rem 0 ;
        text-align: center;
    }
    .text-box h1 {
        font-size: 1.7rem;
    }
    .text-box p {
        font-size: 1rem;
        padding: 1rem 0;
    }
 }